<div class="page-header">
<h1>Welcome to my blog!</h1>
</div>
{{toJSON posts}}

{{#each posts}}
<h3><a href='posts/{{this.permalink}}'>{{title}}</a>&nbsp;&nbsp;
<span><a href='posts/{{this.permalink}}/comments'>SHOW COMMENTS</a></span>
</h3>

{{/each}}